<h1>Listing Users</h1>
<div class="row list_wrapper">
<% @users.each do |user| %>
<div class="col-md-4 col-md-push-4 post d-flex align-items-center flex-column">
<a href= <%="/users/#{user.id}"%>>
   <div class="col-xs-2 thumb-img list">
      <%= image_tag avatar_url(user), width: '100', height: '100', class: 'img-responsive img-circle' %>
    </div></a>
    <div class="col-xs-10 user-info ">
    <h3>
    <small><strong> <%= user.name %> </strong> <%= user.bio %></small>
    </h3>
    </div>
</div>
<% end %>
</div>

      
      <div class="row ">
        <div class="col-xs-12 link mt-5">
          <a href="/posts"><h3>Return to Home</h3></a>
        </div>
      </div>

   
<div class="row">
  <div class="col-xs-12 space">
  </div>
  <div class="col-xs-12 space">
  </div>
</div>